Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/Developer
Content/ModularSciFiEnv_D
Content/ModularSciFiEnv_C


.idea/
*.user
*.userosscache
*.sln.docstates
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace